__pycache__/
*/__pycache__/

results
additional_results
TEST_results
prepare_results.ipynb
figures
dataset

figure_scripts/task_accuracy_per_subject.ipynb

analysis/additional_experiment/compute_oads_res_noise_ceiling.py

eeg_info.yaml